{% extends 'base.html' %}
{%block maincontent%}
    {% load markdownify %}


    <main>
        <div>
            <h1>
                {{ projectsdetail.name }}
            </h1>
            <p>
                {{projectsdetail.description|markdownify}}
            </p>
            <h2>
                Tasks
            </h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if projectsdetail.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>

                    </thead>
                    <tbody>
                        {%for item in projectsdetail.tasks.all%}
                            <tr>
                                <td>{{item.name}}</td>
                                <td> {{item.assignee}}</td>
                                <td> {{item.start_date}}</td>
                                <td> {{item.due_date}}</td>
                                <td>{{item.is_completed|yesno}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            {% else %}
                <p>
                    This project has no tasks
                </p>
            {% endif %}


        </div>
    </main>
{%endblock maincontent%}