{% extends 'base.html' %}

{%block maincontent%}

    <main>
        <div>
            <h1>
                My Projects
            </h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>

            {%if projectslist|length == 0%}
                <p>
                    You are not assigned to any projects
                </p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for proj in projectslist%}
                            <tr>
                                <td><a href="{% url 'show_project' proj.pk %}">{{ proj.name }}</a></td>

                                <td> {{proj.tasks.all|length}}</td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>

{%endblock maincontent%}